[Unit]
Description=Back up Backlog Wheel database
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backlog-wheel-backup-db
